body
{
   margin:0px;
   font:12pt verdana;
   background-color:silver;
}

h1
{
   margin:0px;
   font:700 30pt arial;
   background-color:green;
   color:white;
}

h2
{
   margin:0px;
   font:700 24pt arial;
   color:blue;
}

h3
{
    margin:0px;
    font:700 20pt arial;
    background-color:lime;
    color:orange;
}

h4
{
  font:700 14pt arial;color:red;
}

table
{
  margin:0px
}

th
{
      font:700 12pt verdana;
      color:white;background-color:navy
}